.logos {
    margin-right: 0.5rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
}

.item {
    width: 97%;
    margin: 0.6rem auto 0 auto;
    background-color: white;
    border-radius: 0.4rem;
}


.desc {
    font-size: 1.02rem;
}

body {
    background-color: rgb(232, 232, 232);
}