<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/IdandPassword/css/utils.css" />
  </head>

  <body class="bg-light overflow-hidden">
    <header class="hr-7 bg-white">
      <a href="/IPassApp" class="d-flex-center-y px-2 h-100 w-100">
        <img src="/static/media/003-back-2.png" alt="" class="hr-3 me-2 back-img d-none">
        <p class="my-0 fw-bold">Online Platform Information</p>
      </a>
    </header>
    <div class="mx-auto overflow-scroll items" style="height: 88vh; width: 97%">
      <table class="border w-100 border-dark">
        <tbody class="w-100">
          <th class="text-center border border-dark fs-7" style="width:5% ;">Sr.</th>
          <th class="ps-1 w-20 border border-dark fs-7">Platform</th>
          <th class="ps-1 w-40 border border-dark fs-7">Username</th>
          <th class="ps-1 w-20 border border-dark fs-7">Password</th>
          <th class="ps-1 w-10 border border-dark fs-7">Edit</th>
        </tbody>
        {% for item in data %}
        <tr>
          <td class="text-center border border-dark fs-7">{{forloop.counter}}</td>
          <td class="ps-1 border border-dark fs-7">{{item.platform}}</td>
          <td class="ps-1 border border-dark fs-7">{{item.username}}</td>
          <td class="ps-1 border border-dark fs-7">{{item.password}}</td>
          <td class="border-dark border text-center">
            <a href="/IPassApp/Edit-Info?token={{item.idx}}" class="ps-1"
              ><img src="/static/media/edit.png" class="hr-3" alt=""
            /></a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="w-100 position-absolute bottom-0 addBtn">
      <div
        class="w-95 mx-auto bg-primary text-white d-flex-center py-2 rounded-3 my-2 fw-bold"
      >
        Add More
      </div>
    </div>
    <div class="w-100 d-none addingPage my-1">
      <form action="/IPassApp/" method="post" class="w-95 mx-auto my-1">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input
            name="platform"
            type="text"
            class="form-control shadow-none"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Platform</label>
        </div>
        <div class="form-floating mb-3">
          <input
            name="username"
            type="text"
            class="form-control shadow-none"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input
            name="password"
            type="text"
            class="form-control shadow-none"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Password</label>
        </div>
        <div>
          <button type="submit" class="btn btn-primary w-100 fw-bold fs-5">
            Add Item
          </button>
        </div>
      </form>
    </div>
    <script src="/static/IdandPassword/js/script.js"></script>
  </body>
</html>
